* {
    box-sizing: border-box;
}

body {
    background-color: #3a444e;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    padding: 20px;
    height: 450px;
    width: 450px;
}

.grafik {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
}